body{
    font: 1em sans-serif;
    font-size: 20px;
    font-weight: 100px;
    display: flex;
    flex-direction: column;
}
h3{
    font-size: 20px;
    font-weight: normal;
}
h1{
    margin-left: 50px;
}
.form-control{
    height: 40px;
    width: 500px;
    border-radius: 10px;
}
img{
    width: 100px;
    display: flex;
    flex direction:  ;
}
.register-btn{
    width: 500px;
    background-color: black;
    color: white;
    height: 30px;
    border-radius: 10px;
}

.login{
    color: rgb(255, 0, 0);
}