body{
    font: 1em sans-serif;
    font-size: 20px;
    font-weight: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.form-control{
    height: 40px;
    width: 500px;
    border-radius: 10px;
    font-size: 30px;
}
h1{
    margin-left: 50px;
    text-align: center;
}
img{
    width: 150px;
    display: block;
    margin: auto;
    height: 120px;
}
.firstdiv{
    border: 5px solid rgb(250, 248, 248);
    border-radius: 10px;
    width: 550px;
    height: 600px;
    
}
.register-btn{
    width: 500px;
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 10px;
}

span a {
    color: red;
    text-decoration: none;
}

.div2{
    border: 5px solid rgb(250, 248, 248);
    border-radius: 10px;
    width: 550px;
    height: 450px;
    
}
span{
    display: flex;
    
}