body{
    background-image: url(WhatsApp\ Image\ 2024-05-20\ at\ 19.29.40_e9f07101.jpg);
    background-size: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    w
}
img{
    height: 400px;
    width: 210vh;
    
}