body{

}
.top-header{
    background-image: url(Poster.png);
    background-size: 250vh 400px;
    background-repeat: no-repeat;
    color: white;
}
.search-bar{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    background: none;
    text-decoration-color: rgb(255, 255, 255);
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
}
.search-bar
.top-logo{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    margin-left: 50px;
    
}

.right-logo{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    margin-left: 50px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: bolder;
    justify-content: right;
    
    
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
